<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AMORE</title>
        <link rel = "stylesheet" href = "static/css/style.css">
    </head>
    <body>
        <div class="centro">
            <button id = "bottone" style="display: block; width: 400; height: 400; font-size: 40px; background-color: #008CBA;">CLICCA</button>
        </div><br>
        <div class="centro" id = "contenuto" style="display: none;">
            <h1>RICCARDO</h1>
        </div>
        <div class="centro">
            <button id = "bottone2" style="display: block; width: 400; height: 400; font-size: 40px; background-color: #008CBA;">CLICCA</button>
        </div><br>
        <div class="centro" id = "contenuto2" style="display: none;">
            <h1>+</h1>
        </div>
        <div class="centro">
            <button id = "bottone3" style="display: block; width: 400; height: 400; font-size: 40px; background-color: #008CBA;">CLICCA</button>
        </div><br>
        <div class="centro" id = "contenuto3" style="display: none;">
            <h1>SERENA</h1>
        </div>
        <div class="centro">
            <button id = "bottone4" style="display: block; width: 400; height: 400; font-size: 40px; background-color: #008CBA;">CLICCA</button>
        </div><br>
        <div class="centro" id = "contenuto4" style="display: none;">
            <h1>=</h1>
        </div>
        <div class="centro">
            <button id = "bottone5" style="display: block; width: 400; height: 400; font-size: 40px; background-color: #008CBA;">CLICCA</button>
        </div><br>
        <div class="centro" id = "contenuto5" style="display: none;">
            <h1>💙</h1>
        </div>
        <script src = "static/js/script.js"></script>
    </body>
</html>